<!-- views/reviews-edit.handlebars -->

  <fieldset>
    <legend class="whiteout">Create New Article</legend>
    <p class="whiteout">Fill out this form to create a new article!</p>
    <!-- TITLE -->
    <div class="form-group">
      <label class="whiteout" for="review-title">Title</label><br>
      <input required id="title"  type="text" name="title" value="{{article.title}}"/>
    </div>


    <input type="hidden" name="username" value="{{currentUser.username}}">


    <!-- DESCRIPTION -->
    <div class="form-group">
      <label class="whiteout" for="content">Content</label><br>
      <textarea required id="review-description" name="content" rows="10" />{{article.content}}</textarea>
    </div>

    <br>


  </fieldset>
