<body class="rootBody">


<div class="section1">
  <h1>Aarticle</h1>
  {{#if currentUser}}
    <a class="CTA" href="/new-article">Create New Article</a>
    <p>Click the button above to create a new article!</p>
  {{else}}
  <h3>You must log in to create an article</h3>
  {{/if}}
</div>

<div class="articlesCont">


{{#each article}}
<div class="articleBox2">
<a class="whiteout" href="/article/{{this._id}}">{{this.title}}</a>
<p>By: {{this.username}}</p>
</div>
{{/each}}

</div>
