.rootBody {
  background: #ecf0f1;
}


.section1 {
  background: #34495e;
  width: 60rem;
  position: absolute;
  top: 70px;
  left: 0; right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  color: white;
}


.articlesCont {
  position: absolute;
  top: 30rem;
  left: 0; right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.articleBox2 {
  width: 30%;
  border: solid 1px black;
  margin-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(52, 73, 94,1.0);
  color: white;
}

.articleBox2 a {
  padding-top: 1rem;
  font-size: 120%;
  color: powderblue;
}

.articleBox2 a:hover {
  color: powderblue;
  text-decoration: none;
}

.articleBox2 p {
  padding-bottom: 1rem;
}


.CTA {
  background: #3498db;
  color: white;
  padding-top: 1rem; padding-bottom: 1rem;
  padding-left: 5rem; padding-right: 5rem;
  font-size: 120%;
  border-radius: 20px;
  transition: all 200ms;
  margin-bottom: 1rem;
}

.CTA:hover {
  text-decoration: none;
  color: white;
  background: rgba(72, 172, 239,1.0)
}

.section1 p {
  margin-bottom: 1rem;
}

.articleFormBox {
  background: rgba(52, 73, 94,1.0);
  width: auto;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(52,73,94,.3);
  transition: all 200ms;
}

/*.articleFormBox:hover {
  box-shadow: 0 40px 80px rgba(52,73,94,1);
}*/

.formInput {
  width: 40rem;
  color: black;
  transition: all 200ms;
}


.formInput2 {
  width: 40rem;
  color: black;
  transition: all 200ms;
}


.whiteout {
  color: white;
}

.articleContent {
  background: linear-gradient(rgba(236, 240, 241,.7), rgba(189, 195, 199,.3));
  font-size: 125%;
  width: 80%;
  white-space: pre-line;
}

.prelined {
  white-space: pre-line;
}

.articleContent h1 {
}

.articleBox p {
  padding-left: 3rem;
  text-align: left;
}

.articleBox h1 {
  margin-top: 0px;
  padding-left: 3rem;
  text-align: left;
}


.articleBox h3 {
  margin-top: 0px;
  padding-left: 3rem;
  text-align: left;
}

.articleBox {
  white-space: pre-line;
  width: 80%;
  border: solid 1px black;
  border-radius: 8px;
}
